<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.develop.in.come.comeinfrontbase">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".network.ChatApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_foreground"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_foreground"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:targetApi="p">
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.easyphotopicker.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
        <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>
        <activity android:name=".activities.LoginActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.ChatActivity"/>
        <activity android:name=".activities.NewProfileActivity"/>
        <activity android:name=".activities.GroupActivity"/>
        <activity android:name=".activities.ProfileActivity"/>
        <activity android:name=".activities.ContactListActivity">
        </activity>
        <activity android:name=".activities.NewGroupActivity">
        </activity>

        <service android:name="util.TestFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="util.TestFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name=".activities.StartActivity"
                android:label="@string/title_activity_start"
                android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>